body 
{
        background-image:url(http://localhost:11020/Images/confession.jpg);
}

#border 
{
    position: absolute;
    border: solid #0bbff0;
    height: 150px;
    width:95%;
    margin-left:20px;
    color: white;
    background-color:#0bcff0;
    font-family:'Alex Brush';
    font-size:30px;
    padding-top:10px;
    text-align: center;
}

#logo 
{
    position: absolute;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    margin-left:50px;
    width:130px;
    height: 136px;
    top: 20px;
    left: 6px;
}

@font-face
{
    src:url(http://localhost:11020/Text/AlexBrush-Regular.ttf);
}

@font-face
{
    src:url(http://localhost:11020/Text/BlackCasper.ttf);
}

#contentmain
{
        position:absolute;
        margin-top:210px;
        border:1px solid #808080;
        height:600px;
        width:95%;
        margin-left:20px;
        margin-bottom:10px;
}



/*#login 
{
    position:initial;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

#home
{
    margin-left:900px;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}*/

#menu
{
    position:absolute;
    height:50px;
    width:250px;
    top:30px;
    right:-60px;
    color:white;
}

a
{
    padding-left:1em;
    color:white;
}

a:hover
{
    font-family:'Alex Brush';
    font-size:larger;
}

.tabs 
{
    width:94%;
    position:absolute;
    margin-top:130px;
    top: 30px;
    height: 48px;
    right:17px;
}

.tab-links
{
    /*padding-top:10px;*/
    height: 49px;
    margin-left:20px;
}

.tab-links:after 
{
        display:block;
        clear:both;
        content:'';
}
 
.tab-links li 
{

        float:right;
        list-style:none;
        
}
 
.tab-links a 
{
            padding:9px;
            display:inline-block;
            background:white;
            font-size:16px;
            font-weight:600;
            color:#0bcff0;
            width: 142px;
}

















}
#sign-up
{
    margin-left:750px;
        margin-top:20px;

}
#login
{
    margin-left:850px;
        margin-top:20px;
    top: 34px;
    left: -50px;
    }